html {height: 100%;}
body {
	background-color: #333;
	margin: 0px;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Microsoft Yahei Light","Microsoft Yahei",Helvetica,sans-serif,"等线";
	cursor: default;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	text-align: center;
	color: white;
}
* {outline: none;}
a,button {outline: none;}
.mainBox {
	position: absolute;
	top: 30%;
	width: 100%;
}
.title {
	position: absolute;
	width: 100%;
	font-size: 50px;
	font-family: "Microsoft Yahei Bold","Microsoft Yahei",Helvetica,sans-serif,"等线";
}
.contentBox {
	position: absolute;
	top: 135px;
	width: 50%;
	left: 25%;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}
.pContent {
	font-size: small;
	line-height: 22px;
}

@media screen and (max-width:500px){
	.title {font-size: 35px;}
	.contentBox {top: 100px;width: 60%;left: 20%;}
	.pContent {font-size: 11px;line-height: 18px;}
}